<div>
  <h1>{{room.topic}}</h1>
</div>

<div>
  {{#each posts as |post|}}
    <div class="post-div">
      <h3>{{post.subject}}</h3>
      <p>{{post.body}}</p>
    </div>
    {{/each}}
</div>

<div>
  <a href="/rooms/{{room.id}}/posts/new">New Post</a>
</div>

<div class="row justify-content-center">
  <div class="col-8">
    {{#each posts as |post|}}
      <div class="card mb-3">
        <div class="card-body">
          <h3 class="card-title text-center">{{post.subject}}</h3>
          <p>{{post.body}}</p>
        </div>

        <!-- Add the following section: -->
        <div class="card-footer text-muted text-right">
          <span class="points-span">{{post.points}} points </span>

          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-success">+</button>
            <button type="button" class="btn btn-danger">-</button>
          </div>
        </div>

      </div>

      <ul>
        {{#each post.comments as |comment|}}
          <li>{{comment.body}}</li>
        {{/each}}
        <li><a href="/rooms/{{../room.id}}/posts/{{post.id}}/comments/new">New comment</a></li>
      </ul>

    {{/each}}

  </div>
</div>
